
@mixin formatacao{ 
        font-family: "EB Garamond", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        font-size: 20px;
        text-transform: uppercase;
        color: #9b8009;
}